body.mx-overrides {
    @import "./_styles/main.scss";
}
@import "./_styles/flipcards.scss";
@import "./_styles/menu.scss";
@import "./_styles/gallery.scss";

// From events
body.et-db.mx-overrides #page-container #et-boc .et-l .et_pb_section .decm_event_display_0 p.ecs-showdetail {
    margin: 0 !important;
    margin-top: auto !important;
    margin-bottom: 0 !important;
}


@media (max-width: 1024px) {
    .et-db #et-boc .et-l .et_pb_row.et_pb_row_1.course-info-sidebar {
        min-width: 90vw;
        margin-right: auto !important;
        margin-left: auto !important;
        position: relative;
        margin-bottom: 152px;
    }
}

.d-none {
    display: none;
}

div#courseform.show-course-form {
    display: block;
    position: absolute;
    top: 116px;
    width: 100vw;
    height: 100vw;
    z-index: 9999;
    background: white;
    padding: 40px;
}