.newsletter-form {
    .frm_fields_container {
        display: flex !important;
        flex-direction: row;
    }

    label {
        display: none;
    }

    div#frm_field_3_container {
        display: block;
    }

    button.frm_button_submit {
        background: #0e28e2;
        border: 0px;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        padding: 16px 24px;
        border-radius: 50px;
        font-weight: 500;
    }

    input#field_29yf4d {
        background: transparent;
        border: 0px;
        border-bottom: 1px solid #0e28e2;
        min-height: 46px;
        font-size: 16px;
    }

    .frm_submit {
        margin-left: 70px;
    }

    div#frm_desc_field_29yf4d {
        font-size: 12px;
    }
}

.frm_style_formidable-style.with_frm_style .form-field input:not([type=file]):focus, .frm_style_formidable-style.with_frm_style select:focus, .frm_style_formidable-style.with_frm_style textarea:focus, .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=text], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=password], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=email], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=number], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=url], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=tel], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=search], .frm_form_fields_active_style, .frm_style_formidable-style.with_frm_style .frm_focus_field .frm-card-element.StripeElement, .frm_style_formidable-style.with_frm_style .chosen-container-single.chosen-container-active .chosen-single, .frm_style_formidable-style.with_frm_style .chosen-container-active .chosen-choices {
    box-shadow: none;
}

.frm_style_formidable-style.with_frm_style input[type=text], .frm_style_formidable-style.with_frm_style input[type=password], .frm_style_formidable-style.with_frm_style input[type=email], .frm_style_formidable-style.with_frm_style input[type=number], .frm_style_formidable-style.with_frm_style input[type=url], .frm_style_formidable-style.with_frm_style input[type=tel], .frm_style_formidable-style.with_frm_style input[type=phone], .frm_style_formidable-style.with_frm_style input[type=search], .frm_style_formidable-style.with_frm_style select, .frm_style_formidable-style.with_frm_style textarea, .frm_form_fields_style, .frm_style_formidable-style.with_frm_style .frm_scroll_box .frm_opt_container, .frm_form_fields_active_style, .frm_form_fields_error_style, .frm_style_formidable-style.with_frm_style .frm-card-element.StripeElement, .frm_style_formidable-style.with_frm_style .chosen-container-multi .chosen-choices, .frm_style_formidable-style.with_frm_style .chosen-container-single .chosen-single {
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #0e28e2 !important;
    border-radius: 0px;
    box-shadow: none;
}

.frm_style_formidable-style.with_frm_style .frm_compact .frm_dropzone.dz-clickable .dz-message, .frm_style_formidable-style.with_frm_style input[type=submit], .frm_style_formidable-style.with_frm_style .frm_submit input[type=button], .frm_style_formidable-style.with_frm_style .frm_submit button, .frm_form_submit_style, .frm_style_formidable-style.with_frm_style .frm-edit-page-btn {
    background: #0e28e2;
    border: 0px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 24px;
    border-radius: 50px;
    font-weight: 500;
}

.with_frm_style .frm_submit {
    text-align: center;
}

fieldset {
    border: 0px !important;
}